$main-color : 	#FFDEAD;
$front-main-text-color: #5b5d4c;
$front-active-link-color: #27342e;
$front-product-list-color: #b0a07ffd;
$admin-header-color: #363636;
$admin-text-color: #fff;
$admin-aside-color: 	#828282;
$admin-hover-active-color: #0000ff;
$admin-table-color: 	#D3D3D3;
$admin-table-border: 1px solid grey;
$admin-delete-color: #995b56;
$admin-delete-hover-color: #fa2600;
