.delete {
  @include admin-modal-background;
  z-index: 1;
  &__container {
    @include fixed-top50-left50;
    background: #fff;
    min-width: 20vw;
    border-radius: 10px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      background: red;
      border-radius: 10px 10px 0 0;
      &__button {
        cursor: pointer;
      }
    }
    &__content {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      padding: 20px 15px;
    }
    &__footer {
      margin: 10px;
      text-align: end;
      &__button {
        @include admin-modal-button;
        background: $admin-delete-color;
        &:hover {
          background: $admin-delete-hover-color;
        }
      }
    }
  }
}